@font-face {
    font-family: 'riskofrainfontregular';
    src: url('../assets/fonts/riskofrainfont-webfont.woff2') format('woff2'),
         url('../assets/fonts/riskofrainfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}