body {
    font-family: 'riskofrainfontregular', 'Source Code Pro', 'Courier', monospace;
    margin: 0;
    background-color: white;
    position: relative;
}

html,
body,
canvas {
    margin: 0;
    padding: 0;
    overflow: hidden
}

.main-wrapper {
    margin: 0 auto;
}

.ZoomIn {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 2em;
}

.ZoomOut {
    position: absolute;
    top: 3em;
    width: 2em;
    left: 1em;
}

#minimap {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid #000;
    opacity: 0.7;
    background-color: gray;
}

#minimapFLag {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid #000;
    opacity: 1;
    z-index: 10;
}

#roverCanvas {
    position: absolute;

    z-index: 10;
}

#cameraZoomIn {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    position: absolute;
    right: 2em;
    top: 8em;
    z-index: 100;
}

#cameraZoomOut {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    position: absolute;
    right: 2em;
    top: 10em;
}

#infosRover {
    position: fixed;
    bottom: 3em;
    left: 3em;
    width: 15em;
    height: 10em;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: solid 2px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    z-index: 100;
}

.energieBars {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin-left: 10%;
    margin-bottom: 1em;
}

.energieBar {
    height: 4em;
    width: 2em;
    border-radius: 10px;
    background-color: lightgray;
    border: solid 2px gray;
}

#infosRover h1 {
    margin: auto;
}

.activated {
    background-color: darkorange;
}

#ctrlZoom {
    position: fixed;
    bottom: 3em;
    right: 3em;
    left: 44em;
    width: 15em;
    height: 10em;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: solid 2px gray;
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 100;
    justify-content: space-around;
}

#ctrlGame {
    position: fixed;
    bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    left: 21em;
    width: 20em;
    height: 10em;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: solid 2px gray;
}

.zoomCtrler {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.zoomCtrler img {
    width: 2em;
    height: 2em;
    margin: auto;
}

.zoomInfo {
    width: 80%;
    margin-left: 10%;
    border: solid 2px gray;
    background-color: lightgray;
    height: 2em;
    margin-bottom: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#ctrlZoom h1 {
    margin: auto;
    display: inline-block;
}

.zoomSection {
    border-right: solid 1px black;
    width: 33%;
}

.zoomSection:last-child {
    border-right: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


.zoomSection:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.infos_ingame {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
}

.controllers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controllers img {

    width: 2em;
    height: 2em;
}

#annonce {
    position: absolute;
    transform: translate3d(-50%, 0, 0);
    left: 50%;
    color: white;
    top: 0.5em;
}

.texteDisparu {
    opacity: 0;
}